.modal {
  box-shadow: 2px 2px 5px rgba(0,0,0,.1);

  height:70vh;
}

.cover {
  height:70vh;
  display: inline-block;
  border-right: 1px solid #000;

  box-shadow: 5px 5px 10px -4px rgba(0,0,0,1);
}

.details {
  border-left: 12px solid #ccc;
  display: inline-block;
  background-color: #fff;
  vertical-align: top;
  height: 70vh;


  position: relative;

  padding-left:1.25rem;
  padding-right: 1rem;

  border-radius: 0 .5em .5em 0;

  width: 25rem;
}

.title, .author, .headline {
  font-weight: 400;
}

.title {
  color:#444;
  font-size: 1.7rem;

  display: inline-block;

  margin-right: 1rem;
  margin-top:1rem;

  margin-bottom: 0;
}

.author {
  color:#aaa;
  font-size: 1.25rem;

  display: inline-block;
  margin-bottom: 0;
  margin-top:0;
}

.headline {
  color:#999;
  font-size: 1rem;

  margin-top:.25rem;
}

.subtitle {
  color:#aaa;
  margin-top:1.5rem;
  margin-bottom: .5rem;
}

.summary {
  max-height: 12rem;
  overflow-y: auto;
  margin-top:0;
  margin-bottom: 0;

  color:#888;

}

.expand {
  display:inline-block;
  background-color: #aaa;
  height: .5em;
  padding:.125em;

  font-size: 1.25em;
  border-radius: 3px;
  cursor: pointer;
  user-select:none;

  margin:0;
  margin-top:.25em;

  float:right;
}

.expand span {
  display: inline-block;
  color:#fff;
  font-weight: bold;
  position: relative;
  top:-.6em;
}

.amazon {
  position: absolute;
  bottom: 0;
  right: 0;

  padding:.5rem;
  padding-bottom: .25rem;

  border: 1px solid #ccc;
  border-radius: .5em 0;

  box-shadow: -1px -1px 3px rgba(0,0,0,.1);
}

.amazon svg {
  width: 1.5rem;
  height: 1.5rem;
}
