
.modal {
  max-height: 90vh;

  overflow-y: auto;

  border-radius: 5px;
}

.overlay {
  background: rgba(88, 125, 154, .9);
}

.title {
  color:#fff;
  font-weight: 400;
  text-align: center;
}

.loading {
  text-align: center;
  font-size: 1.25rem;
  color:#fff;
}

.input {
  margin-bottom: .5em;
  margin-left: 1em;
  margin-right: 1em;
}

.input input {
  padding:10px;
  display:inline-block;
  vertical-align: top;
  border:1px solid #ccc;
  font-size: 1rem;

  width: calc(100% - 3rem);
  box-sizing: border-box;

  border-radius: .25em;
}

.input a svg {
  height:1rem;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);


}

.input a svg * {
  fill:#fff;
}

.input a {
  border-radius: .25em;
  margin-left: .5rem;
  display: inline-block;
  width: 2.5rem;
  height:2.5rem;
  position: relative;
  vertical-align: top;
  background-color: #ffbd1e;
  cursor: pointer;
}

.tile {
  font-size: .75em;
  margin-left: 0;
}

.results {
  border: 1px solid #ccc;
  padding-left:.5em;
  margin-left: 1em;
  margin-right: 1em;
  width: 39rem;
  height: 30em;
  overflow-y: auto;
  border-radius: .25em;
}

.close {
  position: fixed;
  top:1rem;
  right:1rem;
  width: 1.5rem;

  transform:rotate(45deg);
}

.close * {
  fill: #fff !important;
}
