
.container {

  position: absolute;
  top:0;
  left:0;

  margin:0;
  width: 100%;
  height:100%;
  overflow: hidden;

  background-color: #00b2c4;
  box-sizing: border-box;

  font-size: 1rem;
}

.containerInner {

  padding:.5rem;
  margin:1rem;
  border: 2px dashed #fff;
  border-radius: 5px;

  height:100%;
}

.heroBox {
  text-align: center;

  margin-top:6em;
}

.hero, .tagline {
  text-transform: uppercase;
  color:#fff;
  font-family:"Tondo", sans-serif;
  font-weight: 400;
}

.hero {
  font-size:4em;
  margin-bottom: 1rem;
}

.tagline {
  margin-top:1rem;
  margin-bottom: 2em;
  font-size:3em;
}

.underline {
  display: inline-block;
  border-bottom: 3px solid white;

  font-weight: 500;

  padding:0 .125em;

  margin-left:.5em;
}

.signupButton {
  color:#6f7072;
  background-color: #ffc00f;

  text-transform: uppercase;
  text-decoration: none;

  font-family: "Tondo", sans-serif;

  padding:.25em 2em;
  border-radius: 5px;

  font-size:2em;
  cursor: pointer;

  box-shadow: 0px 2px 5px -1px rgba(0,0,0,.25);
}

.belowButton {
  font-family: "Tondo", sans-serif;
  color:#ddd;
}

.bottomBox {
  position: absolute;
  top:60vh;
  left:0;

  height: 40vh;
  overflow: hidden;

  width: 100%;
  text-align: center;
}

.leanLeft, .leanRight, .straightUp {
  width:15em;
  box-shadow: 2px 2px 0px #333;
  display: inline-block;

  position: absolute;
  left:50%;
  top:0;
}

.straightUp {
  width:23em;
  z-index: 20;
  transform: rotate(0deg) translateX(-50%);
}

.leanLeft {
  transform:translateX(-155%) rotate(-25deg);
  left:50%;
  top:6em;
}

.leanRight {
  transform: translateX(50%) rotate(25deg) translateY(-5%);
  left:50%;
  top:6em;
}

.hidden {
  display:none;
}

.closeDialog {
  font-size:2em;
  float:right;
  cursor: pointer;
  color:#999;
}

.dialog {
  position: fixed;
  top:20vh;
  left:50%;
  width:80vw;
  height:60vh;

  border-radius: 5px;

  padding:.5em;

  transform: translateX(-50%);
  background-color: #fff;

  z-index: 100;
}

.dialogSmall {
  position: fixed;
  top:20vh;
  left:50%;
  width:40vw;


  border-radius: 5px;

  padding:.5em;

  transform: translateX(-50%);
  background-color: #fff;

  z-index: 100;
}


.dialogBack {
  content:"";
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;

  background-color: #000;
  opacity: .5;

  z-index: 50;
}

.popupTitle {
  text-align: center;
  color:#00b2c4;
  font-family: "Tondo", sans-serif;
  font-weight: 500;
  font-size: 2.5em;
  width:100%;

  margin-top:.25em;
  margin-bottom: 0;
}

.popupTagline {
  font-weight: 400;
  font-family: "Tondo", sans-serif;
  text-align: center;
  color:#999;
  font-size:2.25em;
  margin-top:.5em;
  margin-bottom: 1em;
}

.reserve {
  font-family: "Tondo", sans-serif;
  text-align: center;
  font-size: 2em;
  color:#faa21b;
  font-weight: 500;

  margin-bottom: .5em;
}

.mountains {
  width:12em;
  display: block;
  margin: auto;
}

.input {
  border-radius:5px;
  border:1px solid #999;
  width:92%;
  margin-right: 3%;
  height:100%;
  font-size: 1.25em;
  box-sizing: border-box;

  padding:0 .5em;
}

.arrow {
  padding-top: .33em;
  padding-left: .125em;
}

.emailStatus {
  color:#999;
  text-align: center;
  font-size:.9em;
  font-family: "Tondo",sans-serif;
}

.button {
  position: absolute;
  top:0;

  border-radius:5px;
  background-color: #00b2c4;
  color:#fff;

  height:100%;

  line-height: 2em;
  vertical-align: middle;

  text-align: center;

  width:5%;
  box-sizing: border-box;
  display: inline-block;
}

.inputBox {
  width:85%;
  height:2.25em;
  margin:auto;
  position: relative;
}

@media(max-height: 775px), (max-width:925px) {
  .container {
    font-size:.9rem;
  }
}

@media(max-height: 695px), (max-width:835px) {
  .container {
    font-size:.8rem;
  }
}

@media(max-height: 630px), (max-width:745px) {
  .container {
    font-size:.7rem;
  }
}

@media(max-height: 550px), (max-width:675px) {
  .container {
    font-size:.6rem;
  }
}

@media(max-height: 480px), (max-width:575px) {
  .container {
    font-size:.5rem;
  }

  .heroBox {
    margin-top:4em;
  }

}
