.button {
  display: inline-block;
  padding:1em;
  border-radius: .5em;
  text-align: center;
  border:1px solid #ccc;

  cursor:pointer;

  background-color: #fff;
  transition: background-color 150ms ease-in;
}

.button:hover {
  background-color: #ddd;
}

.button:active {
  background-color: #bbb;
}

.buttonWrap {
  margin:1em 0;
  text-align: center;
}
