.login {
  position: fixed;
  top:0;
  left:0;

  width: 100%;
  height:100%;

  display:flex;
  flex-flow:column nowrap;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-color: #587d9a;
  color: #fff;
}

.title {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 0;
}

.tagline {
  font-weight: 400;
  font-size: 1.5rem;
}

.icon {
  width: 12rem;

  margin-bottom: 2rem;
}

.button {
  display: inline-block;
  padding:.5rem 1rem;
  background-color: #fff;

  text-decoration: none;

  color:#587d9a;
  font-size: 1.5rem;

  border-radius: .25em;

  box-shadow: 0px 2px 5px rgba(0,0,0,.25);

  margin-top:1.5rem;
  margin-bottom: 1rem;
}

.smallText {
  margin:0;
}
