
.logo {
  margin-left:.5em;
  user-select:none;
  cursor: default;

  font-size: 1rem !important;
}

.logoPic {
  height:2rem;
  width: 1.5rem;
  position: relative;
  top:.25rem;
  margin-right: .75rem;
}

.logoBig {
  color:#58585a;
  font-family: "Tondo", sans-serif;
  display: inline-block;

  font-weight: 400;
  text-transform: uppercase;

  margin:0;
}

.logoBold {
  font-weight: 600;
  display:inline-block;
}

.logoSmall {
  display: inline-block;
  font-family: "Tondo", sans-serif;

  color:#58585a;

  font-weight: 400;
  text-transform: uppercase;

  font-size: 1em;

  margin:0;

}
