.timeline {

  position: relative;
  display: flex;
  flex-flow:row nowrap;
  justify-content: space-around;
  align-items: center;

  height: 50vh;
  width:80%;
  margin:auto;
}

.timeline::after {
  content: " ";

  position: absolute;
  top:50%;
  left:10vw;

  width: 75%;
  transform: translateY(-50%);
  height:.25em;
  background-color: #999;

  z-index: -1;

}

.bubble {

  display:inline-block;

  width:2em;
  height:2em;

  padding:.5em;
  text-align: center;

  background-color: #fff;
  color:#aaa;

  font-weight: bold;
  font-size: 1.5em;

  line-height: 2em;
  vertical-align: middle;

  border-radius: 100%;
  border:.22em solid #999;

  cursor: pointer;

}

.bubbleWrap {
  display: inline-block;
  position: relative;
}

.bubbleWrap:hover .above, .bubbleWrap:hover .below {
  border:4px solid #00b2c4;
}

.bubbleWrap:hover .bubble {
  background-color:#97ce85;
  color:#fff;
}

.above, .below {
  position: absolute;
  color:#666;
  font-weight: bold;
  width:250%;

  text-align: center;

  border:3px solid #999;

  list-style: none;
  margin: 0;
  padding:1em;

  cursor: pointer;
}

.above li, .below li {
  margin:0;
}

.below li:nth-child(2n), .above li:nth-child(2n)  {
  color:#999;
}

.above {
  top:-1em;
  transform:translate(-33%, -100%);
}

.below {
  bottom:-1em;
  transform:translate(-33%,100%);
}


.empty {
  width:1em;
  height:1em;
  border:.17em solid #999;
}
