.overlay {
  position: fixed;
  top:0;
  left:0;

  width: 100%;
  height:100%;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;

  background: linear-gradient(to right, rgba(9, 169, 161, .8), rgba(10, 135, 179, .8));
}

.modal {
  width: 800px;
  height:500px;
  background-color: #fff;

  z-index: 1001;
}

.hidden {
  display:none;
}

.enter {
  opacity: .01;
  transform: scale(.75);

  transition: all 300ms ease-in;
}

.enter.enterActive {
  opacity: 1;
  transform: scale(1);
}

.leave {
  opacity: 1;
  transform: scale(1);

  transition: all 300ms ease-in;
}

.leave.leaveActive {
  opacity: .01;
  transform: scale(1.5);
}
