.tile {
  width:50em;
  margin:auto;
  margin-top:1em;
  position: relative;
  height:12em;
  border-radius:0 .5em .5em 0;

  background-color: #e6e6e8;

  cursor: pointer;
}

.image {
  height:12em;
}

.container {
  display:inline-block;
  position: absolute;
  top:0;

  margin-left:1em;
}

.votesBox {
  float:right;

  margin-top:1em;
  margin-right:1em;
}

.votesBox svg {
  display:block;
  width:1em;
  margin:auto;
  cursor: pointer;
}

.path {
  transition: fill 150ms ease-in;
}

.topic {
  position: absolute;
  bottom:1rem;
  right:1rem;
  font-size:1.25em;
  color:#00b2c4;
}

.title {
  font-size:1.5em;
  font-weight:400;
  margin-top:.75em;
  margin-bottom: 0;
  color:#555;
}

.headline {
  margin-top:0;
  font-size:1.33em;
  color:#888;
  max-width: 40em;
  margin-top:.5em;
}

.author {
  color:#ccc;
  margin-left:.5em;
  font-size: .9em;
  display: inline-block;
}
