.header {
  padding:1.25em;
  height:4.5em;
  box-sizing: border-box;
  position: relative;
  border-bottom: 3px solid #547b98;


}

.content {
  max-width:800px;
  position: absolute;
  top:0;

  left:50%;
  transform:translateX(-50%);

  border:1px solid black;

}

.logo {
  position: absolute;
  top:50%;
  transform: translate(0, -50%);
  font-size: .8em;

  transition: transform 150ms ease-in-out;
}

.pageLink {
  font-size:1.25em;
  font-family: "Tondo", sans-serif;
  color:#6d6e71;
  text-decoration: none;

  font-weight: 300;


}

.icon {
  width:1.5rem;
  margin-right: .5rem;
  display: inline-block;
  vertical-align: middle;
}

.pageLink.active {
  color:#f1592a;
}

.pageLink.active .icon * {
  fill: #f1592a;
}

.container {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);

  display:flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  width:800px;
}

.rightContainer {
  position: absolute;
  right:1em;
}

.circleButton {
  display: inline-block;

  position: relative;
  top:-.25em;

  font-size: 1.2em;

  padding:.45em;
  width: 1em;
  height: 1em;
  text-align: center;
  color:#a7a9ac;

  margin:0 .25em;

  cursor: pointer;

  border:2px solid #a7a9ac;
  border-radius: 100%;

  vertical-align: middle;
}

.profileButton {
  font-size: 1.2em;
  display:inline-block;
  padding:0;
  position: relative;
  top:-.125em;
  vertical-align: middle;
  margin-left: .25em;

  cursor: pointer;
}

.profileButton img {
  height: 2.5rem;
}

.circleButton:hover  {
  border-color:#f1592a;
  color:#f1592a;
}

.circleButton:hover svg * {
  fill: #f1592a;
}


@media (max-width:1455px) {
  .container {
    width:600px;
  }
}
